*/target/
/project/project/
/project/target/
/.ensime
/.ensime_lucene/
/logs/
.DS_Store
*/.DS_Store
/src/test/scala/.DS_Store

/target/
/data/clients/commandline
/data/clients/clientid
/.target
/bin

/.cache
/.classpath

/.project
/.settings/

/ClientDirectory(data)/

/ClientDirectory(/
