@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
        
    </head>
    <body ng-app="sseChat">
        
        <div ng-controller="ChatCtrl">
            <div id="status">
              {{ status.text }}
              <table class="table table-striped">
                <tr>
                  <th>Client</th>
                  <th>Publishes</th>
                  <th>Subscribes</th>
                  <th>Sent To</th>
                  <th>Received From</th>
                  <th>Acks From</th>
                  <th>Active Nodes</th>
                </tr>
                <tbody ng-repeat="item in items">
                  <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.publishes }}</td>
                    <td>{{ item.subscribes }}</td>
                    <td>{{ item.sentTo }}</td>
                    <td>{{ item.receivedFrom }}</td>
                    <td>{{ item.acksFrom }}</td>
                    <td>{{ item.nodes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </body>
</html>
